#welcome {
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    color: #a9a9a9;
    text-transform: capitalize;
    text-align: center;
}

.nav a {
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    font-size: 14px;
    color: white;
}

.nav li {
    background: #378;
    border-radius: 5px;
    border: 1px solid black;
}

.nav {
    width: 11%;
    padding: 1.5em 0;
    display: inline-block;
}

.nav-pills li {
    margin: 0 10px;
}

.headers {
    font-weight: 900;
    border-bottom: 1px solid black;
    margin-bottom: 1em;
}

form label {
    display: block;
}

form {
    margin-top: 1.5em;
}

.table {
    width: 80%;
    float: right;
    padding: 1.5em 0;
}

.form-container {
    width: 50%;
    margin-right: 10%;
    float: right;
}